body {color: rgb(0, 0, 0); background-color: rgb(245, 245, 245);
font-family: Arial,Helvetica,sans-serif;
margin-left: 6%; margin-right: 3%; }
h2,h3,h4,h5 {margin-left: -5%; margin-right: 1%; }
h3 {color: #000099; font-style: italic; font-weight: bold; }
h4 {color: #000099; font-style: italic; font-weight: bold; }
li {margin-top: 6px; }
